/autom4te.cache
/.clangd
/compile_commands.json
/config.h.in
/config.h.in~
/config.status
/configure.ac
/libtool
/.libs
/Makefile
/Makefile.objects
/run-tests.php
/build
/config.h
/config.log
/config.nice
/configure
/Makefile.fragments
/modules
/testext.la
/tests/*.php
/tests/*.out
/tests/*.exp
/tests/*.diff
*.lo
